body {
	background-image: url(http://cdn.wallpapersafari.com/48/3/LhevKF.png);
	background-color: #22b14c;
	text-align: right;
	margin-right: 350px;
	font-family: 'Permanent Marker', cursive;
	text-shadow: 2px 2px white;
}


h1 {font-size: 64px;}

p {
	margin-right: 290px;
}